/* Styles globaux */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F7F7F7;
}

.intro {
    background-color: #556B2F;
    color: #F7EDD9;
    padding: 20px;
    text-align: center;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
    width: 100%;
}

.intro h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.intro p {
    margin: 10px 0 0;
    font-size: 18px;
}

main {
    width: 100%;
    margin: 0;
    padding: 0;
}

.animaux, .habitats {
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    gap: 0;
}

.animal, .habitat {
    width: 100%;
    padding: 15px;
    text-align: left;
    box-sizing: border-box;
    border-radius: 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    margin: 0;
}

.animal h3, .habitat h3 {
    margin: 0 0 10px;
    font-size: 24px;
    color: #2B390D;
}

.animal p, .habitat p {
    margin: 5px 0 10px;
    font-size: 18px;
    color: #2B390D;
}

.animal img {
    max-width: 100%;
    border-radius: 0;
    margin-top: 10px;
}

.animal:nth-child(3n+1) {
    background-color: #B6BE64;
}

.animal:nth-child(3n+2) {
    background-color: #5563D4;
}

.animal:nth-child(3n+3) {
    background-color: #F7EDD9;
}

.habitat:nth-child(3n+1) {
    background-color: #F7EDD9;
}

.habitat:nth-child(3n+2) {
    background-color: #B6BE64;
}

.habitat:nth-child(3n+3) {
    background-color: #5563D4;
}

.animals-in-habitat {
    padding-left: 20px;
    border-top: 1px solid #2B390D;
    margin-top: 10px;
    padding-top: 10px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.animal-in-habitat {
    margin: 5px 0;
}

.animal-in-habitat img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
    object-fit: cover;
    margin-right: 10px;
    transition: transform 0.3s;
}

.animal-in-habitat img:hover {
    transform: scale(1.1);
}