.intro {
    background-color: #556B2F;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.intro h1 {
    margin: 0;
    font-size: 36px;
    font-weight: bold;
}

.intro p {
    margin: 10px 0 0;
    font-size: 18px;
}

.animaux, .habitats {
    width: 100%;
    margin: 0;
    padding: 0;
}

.animal, .habitat {
    width: 100%;
    padding: 15px 0;
    text-align: left;
    box-sizing: border-box;
    padding-left: 20px;
}

/* Couleurs alternées pour les animaux */
.animal:nth-child(3n+1) {
    background-color: #e6f7ff; /* Couleur 1 */
}

.animal:nth-child(3n+2) {
    background-color: #ffedcc; /* Couleur 2 */
}

.animal:nth-child(3n+3) {
    background-color: #d6f5d6; /* Couleur 3 */
}

.animal h3, .habitat h3 {
    margin: 0;
    font-size: 24px;
    color: #333;
}

.animal p, .habitat p {
    margin: 5px 0 0;
    font-size: 18px;
    color: #666;
}

/* Couleurs alternées pour les habitats */
.habitat:nth-child(3n+1) {
    background-color: #e6f7ff; /* Couleur 1 */
}

.habitat:nth-child(3n+2) {
    background-color: #ffedcc; /* Couleur 2 */
}

.habitat:nth-child(3n+3) {
    background-color: #d6f5d6; /* Couleur 3 */
}

/* Styles pour les animaux dans les habitats */
.animals-in-habitat {
    padding-left: 20px;
}

.animal-in-habitat {
    margin: 5px 0;
}

.animal-in-habitat a {
    font-size: 18px;
    color: #337ab7;
    text-decoration: none;
}

.animal-in-habitat a:hover {
    text-decoration: underline;
}

