.main {
    width: 100%;
 
    background-color: #B6BE64; 
}

.animal-main {
    width: 100%;
    background-color: #B6BE64;
}

.animal-title {
    font-size: 2.5em;
    color: #F7EDD9;
    text-align: center;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.animal-photo {
    display: block;
    max-width: 300px;
    height: auto;
    margin: 0 auto 20px;
}

.info-section, .medical-section {
    margin-bottom: 20px;
}

.info-section h2, .medical-section h2 {
    font-size: 1.8em;
    color: #F7EDD9;
    border-bottom: 2px solid #F7EDD9;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.general-info, .medical-info {
    width: 48%;
    background-color: #F7EDD9;
    padding: 15px;
    margin: 10px 0;
}

.general-info p, .medical-info p {
    background-color: #F7EDD9;
    padding: 10px;
    margin: 5px 0;
    border-left: 5px solid #005f73;
}

.general-info p:nth-child(odd), .medical-info p:nth-child(odd) {
    background-color: #ffffff;
    border-left-color: #2B390D;
}

.general-info strong, .medical-info strong {
    color: #333333;
}

@media (max-width: 768px) {
    .animal-main {
        width: 95%;
        padding: 10px;
    }

    .animal-title {
        font-size: 1.8em;
    }

    .info-section h2, .medical-section h2 {
        font-size: 1.5em;
    }

    .general-info, .medical-info {
        width: 100%;
    }
}