main {
    max-width: 100%;
    margin: 0 auto;
}

.intro {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-flow: row;
    background-color: #2B390D;
    color: #F7EDD9;
}

.lion { 
    width: 70%;
    align-self: end;
    justify-self: end;
    grid-area: 1 / 2 / 3 / 3; 
}

.parc { 
    font-size: 4rem;
    grid-area: 1 / 1 / 2 / 2;
    margin-left: 10%;
    margin-top: 20%;
}

.sousTitre { 
    justify-self: end;
    margin-top: 35%;
    rotate: -10deg;
    grid-area: 1 / 1 / 2 / 2;
}

.lorem { 
    font-size: 1.5rem;
    margin-top: 5%;
    grid-area: 2 / 1 / 3 / 2;
    margin-left: 10%;
}

.icons {
    background-color: #B6BE64;
    display: grid;
    place-items: center;
    height: 100%; 
    width: 100%;
}

.icons img {
    padding: 2%;
    height: auto;
    width: 70%;
}

.services {  
    background-color: #2B390D;
    color: #F7EDD9;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.autruche { 
    grid-area: 1 / 1 / 3 / 2; 
    width: 50%;
    height: auto;
}

.servicesTitre {
    font-size: 4rem;
    margin-top: 10%;
    grid-area: 1 / 2 / 2 / 3; 
}

.servicesLorem { 
    grid-area: 1 / 2 / 3 / 3;
    justify-self: center;
    align-self: center;
    font-size: 1.5rem;
}

.flecheServices img { 
    width: 70%;
    transition: transform 0.7s ease;
    rotate: 180deg;
}

.flecheServices {
    grid-area: 2 / 2 / 3 / 3; 
    align-self: end;
    justify-self: end;
    margin-right: 20%;
    margin-bottom: 10%;
}

.flecheServices:hover img {
    transform: translateX(-20px);
}

.grid-section {  
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "gridEnergie gridAnimaux"
      "gridHabitats gridAnimaux"
      "gridHabitats gridImage";
}

.gridEnergie { 
    grid-area: gridEnergie; 
    background-color: #F7EDD9;
    color: #2B390D;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.gridHabitats {  
    display: grid;
    grid-area: gridHabitats;
    background-color: #B6BE64;
    color: #F7EDD9;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 0.5fr 0.5fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
}

.titreHabitats { 
    grid-area: 1 / 2 / 2 / 3; 
    margin-top: 10%;
    font-size: 3rem;
}

.flecheHabitats img { 
    width: 70%;
    transition: transform 0.7s ease;
    rotate: 180deg;
}

.flecheHabitats {
    grid-area: 3 / 2 / 4 / 3; 
    align-self: end;
    justify-self: end;
    margin-right: 20%;
    margin-bottom: 5%;
}

.flecheHabitats:hover img {
    transform: translateX(-20px);
}

.toucan { 
    grid-area: 2 / 1 / 4 / 2;
    align-self: end;
    transform: scaleX(-1);
    width: 100%;
    height: auto;
}

.loremHabitats { 
    font-size: 1.25rem;
    grid-area: 2 / 2 / 4 / 3; 
    justify-self: center;
    align-self: start;
    margin-right: 5%;
}

.gridImage { 
    grid-area: gridImage; 
}

.gridAnimaux { 
    grid-area: gridAnimaux;
    background-color: #5563D4;
    color: #F7EDD9;
    display: grid; 
    grid-auto-columns: 1fr; 
    grid-template-columns: 1fr 1fr; 
    grid-template-rows: 0.5fr 0.5fr 0.5fr; 
    gap: 0px 0px; 
}

.animauxTitre { 
    font-size: 3rem;
    grid-area: 1 / 1 / 2 / 2; 
    margin-top: 10%;
}

.animauxLorem { 
    margin-left: 5%;
    font-size: 1.25rem;
    grid-area: 2 / 1 / 4 / 2;
}

.flecheAnimaux img {
    width: 70%;
    transition: transform 0.7s ease;
   
}

.flecheAnimaux {
    grid-area: 3 / 1 / 4 / 2; 
    align-self: end;
    justify-self: start;
    margin-left: 20%;
    margin-bottom: 5%;
}

.flecheAnimaux:hover img {
    transform: translateX(-20px);
}

.paresseux {
    grid-area: 2 / 2 / 4 / 3;
    transform: scaleX(-1);
    align-self: center;
    justify-self: end;
    width: 70%;
}
/* Media Queries pour les téléphones et les petits écrans */
@media (max-width: 768px) {
    .intro {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #2B390D;
    }

    .lion {
        width: 80%;
        margin: 1rem 0;
    }

    .parc {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .sousTitre {
        font-size: 1.5rem;
        margin: 1rem 0;
        rotate: 0deg;
    }

    .lorem {
        font-size: 1rem;
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .icons {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #B6BE64;
    }

    .icons img {
        width: 50%;
    }

    .services {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #2B390D;
        color: #F7EDD9;
        position: relative;
    }

    .autruche {
        width: 30%;
        position: absolute;
        bottom: 0;
    }

    .servicesTitre {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .servicesLorem {
        font-size: 1rem;
        margin: 1rem 0;
        padding: 0 1rem;
    }

    .flecheServices {
        width: 20%;
        margin: 1rem 0;
  
        transition: transform 0.7s ease;
    }

    .grid-section {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .gridEnergie {
        background-color: #F7EDD9;
        color: #2B390D;
        padding: 1rem;
        margin: 1rem 0;
    }

    .gridHabitats {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #B6BE64;
        color: #F7EDD9;
  
    }

    .titreHabitats {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .loremHabitats {
        font-size: 1rem;
        left: 0;
    }

    .toucan {
        width: 60%;

        align-self: start;
    }

    .flecheHabitats {
        width: 20%;
        transition: transform 0.7s ease;
    }

    .gridImage img {
        width: 100%;
        margin: 1rem 0;
    }

    .gridAnimaux {
        display: flex;
        flex-direction: column;
        align-items: center;
        background-color: #5563D4;
        color: #F7EDD9;

    }

    .animauxTitre {
        font-size: 2rem;
        margin: 1rem 0;
    }

    .animauxLorem {
        font-size: 1rem;

    }

    .paresseux {
        width: 60%;
      
        align-self: end;
    }

    .flecheAnimaux {
        width: 20%;
        transition: transform 0.7s ease;
        left: 0;
        align-self: start;
    }
}
