body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.habitats {
    margin: 20px;
}

.introHabitats {
    text-align: center;
    margin-bottom: 30px;
}

.titreHabitats {
    font-size: 2.5em;
    color: #fff;
    background-color: #8b0000;
    padding: 20px;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-12 {
    flex: 1 1 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 20px;
    position: relative;
    border-radius: 10px;
}

.habitat-card h2 {
    font-size: 1.5em;
    color: #2f4f4f;
    margin-bottom: 10px;
}

.habitat-card p {
    margin: 10px 0;
    line-height: 1.6;
}

.habitat-card ul {
    padding-left: 20px;
}

.habitat-card ul li {
    list-style-type: disc;
    margin-bottom: 5px;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
    border-radius: 5px;
}

button:hover {
    background-color: #005f6b;
}

.edit-form-container, .add-form {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.edit-form-container {
    display: none;
}

.edit-form textarea, .add-form textarea, .edit-form input, .add-form input {
    width: 100%;
    margin-bottom: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.edit-btn {
    margin-right: 10px;
    background-color: #4CAF50;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-form button {
    background-color: #f44336;
}

.delete-form button:hover {
    background-color: #da190b;
}

.add-btn {
    background-color: #4CAF50;
    border-radius: 50%;
    padding: 10px 15px;
    font-size: 2em;
    line-height: 1em;
}

.add-btn:hover {
    background-color: #45a049;
}

.add-habitat {
    margin-top: 40px;
    text-align: center;
}

.add-habitat button {
    font-size: 2em;
    background-color: #4CAF50;
    border-radius: 50%;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
    color: white;
}

.add-habitat button:hover {
    background-color: #45a049;
}

.validate-btn {
    background-color: #8b0000;
    color: white;
    padding: 15px 30px;
    font-size: 1.2em;
    border-radius: 5px;
    text-align: center;
    margin: 20px auto;
    display: block;
}

.validate-btn:hover {
    background-color: #700000;
}

form {
    display: flex;
    flex-direction: column;
}

form label {
    font-weight: bold;
}

form button {
    align-self: flex-start;
}

.animal-card {
    max-width: 300px; /* Ajustez cette largeur selon vos besoins */
    margin-bottom: 20px;
    border: 1px solid #ddd;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    overflow: hidden; /* Pour cacher toute partie de l'image qui dépasse */
    text-align: center; /* Centrer le contenu à l'intérieur */
}

.animal-card img {
    width: 100%; /* Assurez-vous que l'image ne dépasse pas du conteneur */
    height: auto; /* Conserver les proportions */
    max-width: 150px; /* Largeur maximale de l'image */
    max-height: 150px; /* Hauteur maximale de l'image */
    object-fit: cover; /* S'assurer que l'image couvre entièrement l'espace sans distorsion */
    border-radius: 5px;
    display: block;
    margin: 0 auto 10px; /* Centrer l'image horizontalement et ajouter une marge en bas */
}