.habitats {
    margin: 20px;
}

.introHabitats {
    text-align: center;
}

.titreHabitats {
    font-size: 2em;
    margin-bottom: 20px;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-12 {
    flex: 1 1 100%;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    padding: 20px;
    background-color: #f9f9f9;
}

.habitat-card {
    margin-bottom: 20px;
}

.add-habitat {
    margin-top: 40px;
}

button {
    padding: 10px 20px;
    background-color: #008CBA;
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px;
}

button:hover {
    background-color: #005f6b;
}

.edit-form-container, .add-form {
    background-color: white;
    border: 1px solid #ddd;
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -20%);
    z-index: 1000;
}

.edit-form-container {
    display: none;
}

.edit-form textarea, .add-form textarea, .edit-form input, .add-form input {
    width: 100%;
    margin-bottom: 10px;
}

.edit-btn {
    margin-right: 10px;
    background-color: #4CAF50;
}

.edit-btn:hover {
    background-color: #45a049;
}

.delete-form button {
    background-color: #f44336;
}

.delete-form button:hover {
    background-color: #da190b;
}

.add-btn {
    background-color: #4CAF50;
}

.add-btn:hover {
    background-color: #45a049;
}