body {
  
    background-color: #F0EAD6; /* Couleur de fond beige */
    color: #333;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

main {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F0EAD6;
}

.employee-space {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0; /* Remove padding to avoid space at the bottom */
}

.employee-space h1 {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 24px;
    color: #fff;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 3fr 4fr; /* Augmenter encore la hauteur des cases */
    width: 100%;
    height: 100%;
}

.grid-item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: white;
    text-align: center;
    padding: 20px; /* Ajouter du padding pour un meilleur espacement */
}

.grid-item a {
    color: white;
    text-decoration: none;
    transition: text-decoration 0.5s ease;
}

.grid-item a:hover {
    text-decoration: underline;
}

.grid-item.green {
    background-color: #6B8E23;
    grid-column: 1 / span 1;
    grid-row: 1 / span 1;
}

.grid-item.blue {
    background-color: #4169E1;
    grid-column: 2 / span 1;
    grid-row: 1 / span 1;
}

.grid-item.brown {
    background-color: #8B4513;
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
}